* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    color: #4d4d4d;
}

html {
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 0rem;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
            center no-repeat;
    background-size: cover;
}
.App {
    margin: auto;
    width: 30%;
    min-width: 56rem;
}

h1 {
    font-size: 10rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 2rem;
    text-transform: lowercase;
}
h1 span {
    opacity: 0.85;
}
.wrapper {
    padding: 2rem 2rem 1rem 2rem;
    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f5f5f5,
        0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f5f5f5,
        0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.todo-header {
    padding: 1rem;
    display: flex;
    margin-bottom: 1rem;
    height: 6vh;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}
.todo-header,
.todo-header input {
    font-size: 2.8rem;
}

.todo-header span {
    cursor: pointer;
}

.todo-header input {
    display: inline;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 2rem;
    background-color: transparent;
}
.todo-header input {
    border: none;
    outline: none;
}
.todo-header input::placeholder {
    font-style: italic;
}

.todo-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    max-height: 50vh;
    overflow-y: scroll;
}

.todo-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding: 0.75rem;
}

.todo-item * {
    transition: all 0.1s linear;
    transition-delay: 0.2s;
}

/* .todo-item::after {
    content: "";
    position: absolute;
    width: 92%;
    height: 0.01rem;
    background-color: #000;
    bottom: 0;
    left: 4%;
} */

.todo-item span {
    margin-right: 1rem;
    width: 3rem;
    height: 4.5rem;
    cursor: pointer;
}
.todo-item label {
    word-break: break-all;
    width: 100%;
    margin: 0.5rem;
    /* height: 3rem; */
    /* padding-left: 0.2rem; */
}

.text-completed {
    text-decoration: line-through;
    color: #aaa;
    font-style: italic;
}

.todo-item button {
    display: none;
    height: 4.5rem;
}

.todo-item:hover button {
    display: inline;
}

.todo-item input {
    font-size: 2.4rem;

    margin: 0.5rem;
    padding: 0.2rem 0 0.2rem 0.2rem;
    height: 100%;
    width: 100%;
    left: 4rem;

    background: transparent;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;

    transition: all 0.3s ease-out;
}
.todo-item input:focus {
    border: none;
    outline: none;
}

img {
    margin: 0.75rem 0;
    display: inline;
    width: 3rem;
    height: 3rem;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.todo-footer {
    font-size: 1.5rem;

    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.todo-footer span {
    width: 9rem;
}

.todo-filter {
    list-style: none;

    display: flex;
    justify-content: space-between;

    width: 40%;
    padding: 1rem;
}

.todo-filter li {
    border: 1px solid transparent;
    padding: 0.5rem;
    cursor: pointer;
}

.todo-filter li:hover {
    border: 1px solid #aaa;
    border-radius: 0.5rem;
}

.filter-active {
    border: 1px solid #aaa !important;
    border-radius: 0.5rem;
}

.todo-footer button {
    border: 1px solid transparent;
    padding: 0.5rem;
}

.todo-footer button:hover {
    border: 1px solid #aaa;
    border-radius: 0.5rem;
}
.hidden {
    opacity: 0;
    pointer-events: none;
}

.d-none {
    display: none;
}
.d-inline {
    display: inline;
}
